location /stop-ie.html {

}
location / {
    set $outdated 0;
    if ($http_user_agent ~* "Trident|MSIE") {
        set $outdated 1;
    }
    if ($outdated = 1) {
        rewrite ^(.*) /stop-ie.html redirect;
        break;
    }
}
